@charset "utf-8";
table{empty-cells:show;border-collapse:collapse;border-spacing:0}
table{font-family:宋体; font-size:10pt;border:1px green solid;background-color:white;}
table td{height:20px;text-align:center;border:1px green solid;width:120px;}
table .tabTh{color:green;font-weight:bold;background-color:#f1faee;}